body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.song-label {
  text-decoration: underline;
  margin-right: 3px;
}

.song-text {
}

.hidden {
  visibility: hidden;
}

.song-chord {
  font-weight: bold;
  margin-right: 3px;
}

.song-chord-line {
  display: flex;
  flex-wrap: wrap;
}

.song-chords-group {
  display: flex;
}
